NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/jortemplate
HOST=0.0.0.0
PORT=8080
ORIGIN=http://localhost:3000,http://localhost:5678
LOG_LEVEL=info


CDN_REGION=auto
CDN_ACCESS_KEY_ID=
CDN_SECRET=
CDN_BUCKET=
CDN_ENDPOINT=
CDN_PUBLIC_URL=
